# Fichiers Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg
*.egg-info/
dist/
build/
*.pyc

# Environnements virtuels Python
venv/
env/
ENV/
.venv
.env

# Exports et données temporaires


# IDE et éditeurs
.vscode/
.idea/

# Logs
*.log
logs/

# Fichiers LaTeX temporaires et de compilation
rapport/*.aux
rapport/*.log
rapport/*.nav
rapport/*.out
rapport/*.snm
rapport/*.toc
rapport/*.vrb
rapport/*.fls
rapport/*.fdb_latexmk
rapport/*.synctex.gz
rapport/*.blg
rapport/*.bbl

# PDF généré
rapport/*.pdf

# Fichiers système inutiles
.DS_Store
Thumbs.db

# Fichiers d'environnement
.env

